<div id="<%= dom_id pet %>">
  <p>
    <strong>Name:</strong>
    <%= pet.name %>
  </p>

  <p>
    <strong>Species:</strong>
    <%= pet.species %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= pet.race %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= pet.date_of_birth %>
  </p>

  <p>
    <strong>Medical hostory:</strong>
    <%= pet.medical_hostory %>
  </p>

  <p>
    <strong>Aditional notes:</strong>
    <%= pet.additional_notes %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= pet.client_id %>
  </p>

</div>
