<div id="<%= dom_id appointment %>">
  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= appointment.hour %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= appointment.duration %>
  </p>

  <p>
    <strong>Veterinary:</strong>
    <%= appointment.veterinary_id %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= appointment.pet_id %>
  </p>

  <p>
    <strong>Service:</strong>
    <%= appointment.service_id %>
  </p>

</div>
